body {
}
   .t
    {
        background-color:Fuchsia;
        border-color:Yellow;
        height:25px;
        width:150px;
        color:White;
        font-family:Verdana;
        font-weight:bold;
        font-size:medium;
        }
        #t
    {
        background-color:Aqua;
        border-color:Yellow;
        height:25px;
        width:150px;
        color:White;
        font-family:Verdana;
        font-weight:bold;
        font-size:medium;
        }
        .d
    {
        background-color:Purple;
        border-color:Green;
        height:25px;
        width:150px;
        color:White;
        font-family:Verdana;
        font-weight:bold;
        font-size:medium;
        }
        td#a
        {
            border-color:Orange;
            border-style:double;
            height:30px;
            width:160px;
            }
            td.a
        {
            border-color:Lime;
            border-style:double;
            height:30px;
            width:160px;
            }
    